* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
  color: #06161C;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
span:focus,
label:focus,
input:focus,
a:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:focus, a:active {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #999;
  opacity: 1;
}

b,
strong {
  font-weight: bolder;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

body {
  background: #E6F4FA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2.4rem 1.6rem;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.4rem;
}

.avatar {
  background: #FFF;
  border-radius: 50%;
  box-shadow: 0px 8px 24px rgba(6, 22, 28, 0.15);
  padding: 1rem;
  margin-bottom: 0.8rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 45px;
}

.slogan {
  display: flex;
  margin-bottom: 2.4rem;
  justify-content: center;
}

.bodyI {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 27px;
  gap: 0.8rem;
  align-items: center;
  display: flex;
}

.containerLinks {
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}

.link {
    background-color: #CDEAF5;
    border-style: none;
    border-radius: 16px;
    border-width: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-color: #06161C;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-align: center;
    width: 100%;
    -moz-text-decoration-color: #06161C;
    padding: 1.6rem;
    position: relative;
    overflow: hidden;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
}

.link span {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
  transition: color 0.25s cubic-bezier(.7, 0, .9, 1);
  -webkit-transition: color 0.25s cubic-bezier(.7, 0, .9, 1);
  -moz-transition: color 0.25s cubic-bezier(.7, 0, .9, 1);
  -ms-transition: color 0.25s cubic-bezier(.7, 0, .9, 1);
  -o-transition: color 0.25s cubic-bezier(.7, 0, .9, 1);
}

.link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-101%, -50%);
  width: 100%;
  height: 100%;
  background-color: #37AAD7;
  transition: transform 0.25s cubic-bezier(.7, 0, .9, 1);
  -webkit-transform: translate(-101%, -50%);
  -moz-transform: translate(-101%, -50%);
  -ms-transform: translate(-101%, -50%);
  -o-transform: translate(-101%, -50%);
  -webkit-transition: transform 0.25s cubic-bezier(.7, 0, .9, 1);
  -moz-transition: transform 0.25s cubic-bezier(.7, 0, .9, 1);
  -ms-transition: transform 0.25s cubic-bezier(.7, 0, .9, 1);
  -o-transition: transform 0.25s cubic-bezier(.7, 0, .9, 1);
}

.link:active,
.link:hover {
  background-color: #37AAD7;
  box-shadow: 0px 8px 24px rgba(55, 170, 215, 0.2);
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.link span,
.link:active span {
  color: #06161C;
}

.link:active::before,
.link:hover::before {
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.linkIcon {
  height: 1.8rem;
  width: 1.8rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.8rem;
}

.footerLink {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
.container {
  max-width: 768px;
}

.title {
  font-size: 3.8rem;
}

.bodyI {
  font-size: 2.4rem;
}
.footerLink {
  font-size: 1.8rem;
}

.footerLink:focus,
.footerLink:hover {
  font-weight: 600;
}

.link span {
  font-size: 1.8rem;
}

.link {
  padding: 2rem;
}

.linkPhone {
  display: none; 
}

.linkIcon {
  height: 2.4rem;
  width: 2.4rem;
}

.header {
  padding-top: 8rem;
}

.footer {
  padding-bottom: 8rem;
}
}
