* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
  color: #06161C;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
span:focus,
label:focus,
input:focus,
a:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:focus,
a:active {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #999;
  opacity: 1;
}

b,
strong {
  font-weight: bolder;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

body {
  background: #F9FDFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.6rem;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.4rem;
}

.avatar {
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 2px 16px rgba(6, 22, 28, 0.04);
  padding: 1rem;
  margin-bottom: 0.8rem;
  border: 5px solid #37AAD7;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 45px;
}

.slogan {
  display: flex;
  margin-bottom: 2.4rem;
  justify-content: center;
}

.bodyI {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 27px;
  gap: 0.8rem;
  align-items: center;
  display: flex;
}

.containerLinks {
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  align-self: center;
}

.link {
  background-color: #37AAD7;
  border-style: none;
  border-radius: 200px;
  border-width: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-color: #000000;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-align: center;
  width: 100%;
  -moz-text-decoration-color: #000000;
  padding: 1.2rem 2.4rem;
  position: relative;
  overflow: hidden;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: solid;
  gap: 8px;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link span {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 500;
}

.link:hover {
  background-color: #2283A9;
}

.link:active {
  background-color: #9BD4EB;
}

.linkIcon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.4rem;
}

.footerLink:hover {
  color: #37AAD7;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .title {
    font-size: 3.8rem;
  }

  .bodyI {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }

  .link span {
    font-size: 1.8rem;
  }

  .linkPhone {
    display: none;
  }

  .header {
    padding-top: 8rem;
  }

  .footer {
    padding-bottom: 8rem;
    font-size: 1.8rem;
  }
}